.home-page .stage-cube-cont {
  width: 90%;
  top: 0;
  padding-top: 17%;
  position: absolute;
}

.home-page .cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px #8fbc8f;
  }

  .face1 {
    transform: translateZ(150px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) rotate(270deg) translateZ(150px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(150px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.home-page .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%;
}

.home-page .text1 {
  color: #fff;
  font-size: 80px;
  margin: 0;
  font-family: "Coolvetica";
  font-weight: 400;

  .home-page .img {
    width: 32px;
    margin-left: 20px;
    opacity: 0;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
  }
}
.home-page .text2 {
  color: #8fbc8f;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  font-family: "sans-serif";
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}
.home-page .flat-button {
  color: #8fbc8f;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #8fbc8f;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #8fbc8f;
    color: #333;
  }
}

.home-page .spacer {
  aspect-ratio: 900/500;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.home-page .layer1 {
  background-image: url("./layer1.svg");
}

