html {
  font-size: 62.5%;
  overflow:hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}